:root {
  --baby-blue: #78cee3;
  --baby-blue-2: #99daea;
  --baby-blue-3: #ddf3f8;
  --baby-blue-4: #f0f9fb;
}

.bg-color-baby-blue {
  background-color: var(--baby-blue);
}
.bg-color-baby-blue-2 {
  background-color: var(--baby-blue-2);
}
.bg-color-baby-blue-3 {
  background-color: var(--baby-blue-3);
}
.bg-color-baby-blue-4 {
  background-color: var(--baby-blue-4);
}

.bg-color-gradient {
  background: linear-gradient(to bottom, #add8e6, rgb(65, 219, 233, 0.5));
}

.bg-color-turquoise {
  background-color: rgb(65, 219, 233, 0.5);
}

.default-shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.text-color-baby-blue {
  color: var(--baby-blue);
}
.text-color-baby-blue-2 {
  color: var(--baby-blue-2);
}
.text-color-baby-blue-3 {
  color: var(--baby-blue-3);
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdown-menu-end{
    background-color: rgb(183, 181, 181);
}
.dropdown-menu-end h2{
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #000
}

.dropdown-menu-end h2 span{
    color: #f00
}

.dropdown-item{
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 6px 9px;
    margin-bottom: 0px;
    cursor: pointer
}

.dropdown-item:hover{
    background-color: #eee
}

.dropdown-item .text h4{
    color:#000;
    font-size: 16px;
    margin-top: 3px
}

.dropdown-item .text p{
    color: #212b2c;
    font-size: 12px
}

.form-bg {
    background-color: var(--baby-blue);
    padding: 30px;
}

.form-group {
    padding: 8px;
}