:root {
  --baby-blue: #78cee3;
  --baby-blue-2: #99daea;
  --baby-blue-3: #ddf3f8;
  --baby-blue-4: #f0f9fb;
}

.bg-color-baby-blue {
  background-color: var(--baby-blue);
}
.bg-color-baby-blue-2 {
  background-color: var(--baby-blue-2);
}
.bg-color-baby-blue-3 {
  background-color: var(--baby-blue-3);
}
.bg-color-baby-blue-4 {
  background-color: var(--baby-blue-4);
}

.bg-color-gradient {
  background: linear-gradient(to bottom, #add8e6, rgb(65, 219, 233, 0.5));
}

.bg-color-turquoise {
  background-color: rgb(65, 219, 233, 0.5);
}

.default-shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.text-color-baby-blue {
  color: var(--baby-blue);
}
.text-color-baby-blue-2 {
  color: var(--baby-blue-2);
}
.text-color-baby-blue-3 {
  color: var(--baby-blue-3);
}

.text-color-light-black {
  color: rgb(0, 0, 0, 0.5);
}
.pr-3 {
  padding-right: 1rem;
}

p {
  margin-bottom: 0%;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bold {
  font-weight: bold;
}

.dropdown-menu-end {
  background-color: rgb(183, 181, 181);
  margin: 0%;
}
.dropdown-menu-end h2 {
  font-size: 18px;
  padding: 5px;
  border-bottom: 1px solid #eee;
  color: #000;
  margin: 0%;
}

.dropdown-menu-end h2 span {
  color: #f00;
}

.dropdown-item {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 4px 6px;
  margin-bottom: 0px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #eee;
}

.dropdown-item .text h4 {
  color: #000;
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 3px;
}

.dropdown-item .text p {
  color: #212b2c;
  font-size: 12px;
  margin: 0%;
}

.dropdown-viewall {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  color: #333;
}
.option-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 10px;
}

.options {
  display: flex;
  flex-direction: column;
}

.option:hover {
  background-color: #f0f9fb;
}

.textarea-container {
  display: none;
}

#adopted-yes:checked ~ .textarea-container,
#adopted-yes:checked + label + .textarea-container {
  display: block;
}

.error-img {
  width: 500px;
  height: 400px;
  overflow: hidden;
  border-radius: 10%;
  display: inline-block;
}

.form-bg {
  background-color: var(--baby-blue);
  padding: 30px;
}

.form-group {
  padding: 8px;
}

.card2 {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  position: relative;
  padding: 1.8rem;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details2 {
  color: rgb(0, 0, 0, 0.5);
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-button2 {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body2 {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title2 {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.card2:hover {
  border-color: var(--baby-blue-2);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card2:hover .card-button2 {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.pet-field {
  padding-bottom: 10px;
}

.pet-input {
  border-radius: 5px;
  background-color: var(--baby-blue-4);
  padding: 5px;
  width: 100%;
  color: #7a7ab3;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.pet-input:focus-visible {
  outline: 1px solid rgb(0, 0, 0);
}

.pet-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.pet-label {
  color: rgb(0, 0, 0, 0.5);
  font-size: 14px;
  display: block;
  padding-bottom: 4px;
}

.btn.disabled {
  background-color: #ccc;
  color: #888;
  border: none;
  pointer-events: none;
}

.btn-container {
  position: relative;
  display: inline-block;
}

/* Tooltip styles */
.btn-container[data-tooltip]:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
  margin-bottom: 5px;
}

.notification-title {
  font-weight: bold;
}

#markAsRead:checked ~ .notification-title {
  font-weight: normal;
}

#markAsUnread:checked ~ .notification-title {
  font-weight: bold;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  height: 72px;
}

.fixed-chat-box {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  z-index: 1000;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
  margin-top: 90px;
}

.main-title {
  color: var(--baby-blue);
  margin-bottom: 1rem;
  font-size: 4.5rem;
}

.main-description {
  color: rgb(0, 0, 0, 0.5);
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.search-bar {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.search-input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.search-button {
  background-color: var(--baby-blue);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.search-button:hover {
  background-color: var(--baby-blue-2);
}

.advanced-search-link {
  margin-top: 1rem;
  color: var(--baby-blue);
  /* text-decoration: none; */
  transition: color 0.3s ease;
}

.advanced-search-link:hover {
  color: var(--baby-blue-2);
}

.chat-header {
  margin-top: 2.5vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.chat-content {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px 0;
  flex-grow: 1;
  margin-bottom: 20px;
}

.chat-container {
  width: 75%;
  background-color: var(--baby-blue-4);
  border-radius: 10px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
}

.message.received {
  background-color: var(--baby-blue-2);
  align-self: flex-start;
}

.message.sent {
  background-color: var(--baby-blue);
  align-self: flex-end;
  margin-left: auto;
}

.chat-input {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  flex-shrink: 0;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.chat-input button {
  background-color: var(--baby-blue);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: var(--baby-blue-2);
}

.dialogue-list {
  width: 25%;
  max-height: 600px;
  overflow-y: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 80vh;
}

.dialogue-item {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dialogue-item:hover {
  background-color: var(--baby-blue-4);
}

.dialogue-item.active {
  background-color: var(--baby-blue-2);
  /* font-weight: bold; */
}
.dialogue-item.unread {
  font-weight: bold;
}

.media {
  margin-top: 5px;
  margin-bottom: 10px;
}

.disabled-apply {
  width: 100%;
}

div.media label {
  font-weight: bold;
}
